 mat-drawer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }
  mat-drawer {
    min-width: 18em;
  }
  mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .body-container
  {
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .header-spacer {
    flex: 1 1 auto;
  } 
  
  select::-ms-expand {
    display: none;
    }
    select{
      -webkit-appearance: none;
      -moz-appearance: none; 
      height: 1.5em;
      width: 1.5em;
      border-radius: 0.4em !important;
      z-index: 2;
   
   }