<mat-drawer-container  hasBackdrop="false">
    <mat-drawer #drawer mode="side" position="end">
          <mat-selection-list #routes [multiple]="false" >
            <mat-list-option *ngFor="let route of routesList" [value]="route" (click)="changeRoute(route)">
              {{route.title}}
              <mat-divider></mat-divider>
            </mat-list-option>
            <mat-list-option [value]="logout" (click)="logout()">
                خروج
                <mat-divider></mat-divider>
              </mat-list-option>
          </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content> 
        <mat-toolbar color="primary">
            <mat-toolbar-row>

              <select [style.background]="bodyBgColor" [(ngModel)]="bodyBgColor"  >
                <option value="white" style="background-color: white;"></option>
                <option value="red" style="background-color: red;"></option>
                <option value="green" style="background-color: green;"></option>
                <option value="blue" style="background-color: blue;"></option>
                <option value="yellow" style="background-color: yellow;"></option>
              </select>
              
              <span class="header-spacer"></span>
              <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
            </mat-toolbar-row> 
        </mat-toolbar>
        <div class="body-container" [style.background]="bodyBgColor">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  