<mat-drawer-container  hasBackdrop="false">
    <mat-drawer #drawer mode="side" position="end">
         <app-drawer-content></app-drawer-content>
    </mat-drawer>
    <mat-drawer-content> 
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
             
              
              <span class="header-spacer"></span>
              <select [style.background]="bodyBgColor" [(ngModel)]="bodyBgColor"  >
                <option value="white" style="background-color: white;"></option>
                <option value="red" style="background-color: red;"></option>
                <option value="green" style="background-color: green;"></option>
                <option value="blue" style="background-color: blue;"></option>
                <option value="yellow" style="background-color: yellow;"></option>
              </select>
            </mat-toolbar-row> 
        </mat-toolbar>
        <div class="body-container" [style.background]="bodyBgColor">
          <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  