<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <button mat-raised-button color="primary" (click)="openDetailsDialog(null)">
                    <mat-icon>add</mat-icon>
                    إضافة
                </button>
                <mat-spinner diameter="20" style="display: inline-block;" *ngIf="loadingUsersList"></mat-spinner> 

            
            </mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الإسم</th>
                        <th scope="col">النوع</th>
                        <th scope="col">تاريخ الميلاد</th>
                        <th scope="col">السن</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i">
                        <td>{{i+1 | number}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.gender == 'male' ? 'ذكر': 'أنثى'}}</td>
                        <td style="    direction: rtl">{{user.birthdate | date:'longDate'}}</td>
                        <td>{{user.age | number}}</td>
                        <td>
                            <button mat-icon-button color="warn" aria-label="Delete" (click)="openDeleteDialog(user)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-icon-button color="primary" aria-label="Delete"
                                (click)="openDetailsDialog(user)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>