<form #userForm="ngForm">
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>الإسم</mat-label>
      <input type="text" minlength="4" matInput name="fullname" id="fullname" [(ngModel)]="model.fullName" required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>تاريخ الميلاد</mat-label>
      <input matInput class="form-control" placeholder="yyyy-mm-dd" required name="birthdate" [(ngModel)]="birthdate"
        ngbDatepicker #d="ngbDatepicker" (ngModelChange)="changeDate($event)" [minDate]="{year: 1900, month: 1}"
        [maxDate]="{year: 2010, month: 1}" [startDate]="{year: 2000, month: 1}" [markDisabled]="isDisabledDate">
      <button mat-icon-button matSuffix (click)="d.toggle()">
        <mat-icon>calendar_today</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>النوع</mat-label>
      <mat-select matInput id="gender" name="gender" [(ngModel)]="model.gender" required>
        <mat-option value="female">أنثى</mat-option>
        <mat-option value="male">ذكر</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>السن</mat-label>
      <input matInput type="number" disabled required id="age" name="age" [(ngModel)]="model.age" min="10">
    </mat-form-field>
  </div>

</form>
<button mat-raised-button [mat-dialog-close]="model" color="primary" [disabled]="userForm.invalid"
  *ngIf="model && model.id!=0">تعديل</button>
<button mat-raised-button [mat-dialog-close]="model" color="primary" [disabled]="userForm.invalid"
  *ngIf="model.id == 0">إضافة</button>

<button mat-raised-button (click)="onNoClick()" color="warn">إلغاء</button>