button{
    margin: .5em;
}
.mat-dialog-content , .form-group{
    width: 100%;
    align-items:center;
    justify-content: center;
    text-align: center;
}
 
.mat-form-field { 
    width: 27em;
   text-align: right;
}